@import '../../global.scss';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 10px 0;
}

.img-card {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
}

.main {
  display: flex;
  justify-content: center;
}

.block-filters {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  height: 100%;
  font-size: $title;
  font-family: $fontFamily;
  margin: 20px;
  border: 1px solid $grey;
  border-radius: $borderRadius;
  padding: 10px;
  background: $beige;
}

.container {
  margin: 10px 0;
  border: 1px solid $grey;
  border-radius: $borderRadius;
  text-align: center;

  .sort {
    width: 100%;
    font-size: $title;
    font-family: $fontFamily;
  }
}

.color {
  border: 1px solid $grey;
  border-radius: $borderRadius;
  margin: 15px 0;
  font-size: $title;
  font-family: $fontFamily;
  padding: 5px;

  &-content {
    display: flex;
    justify-content: center;
  }

  &-check {
    margin: 0 5px;
    width: 20px;
    height: 20px;
  }

  &-square {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    border: 1px solid $black;
  }

  &-block {
    font-size: $subTitle;
  }
}

.search-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid $grey;
  border-radius: $borderRadius;
  position: relative;
  box-sizing: border-box;

  .search {
    font-size: $title;
    font-family: $fontFamily;
  }

  .cross {
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 0;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 15px;
      height: 2px;
      background: $grey;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

.brand {
  border: 1px solid $grey;
  border-radius: $borderRadius;
  font-size: $title;
  font-family: $fontFamily;
  padding: 5px;

  &-content {
    display: flex;
    justify-content: center;
  }

  &-checkbox {
    margin: 0 5px;
    width: 20px;
    height: 20px;
  }

  &-block {
    font-size: $subTitle;
  }
}

.slider {
  border: 1px solid $grey;
  border-radius: $borderRadius;
  font-size: $title;
  font-family: $fontFamily;
  margin: 15px 0;
  right: -13px;

  &-name {
    text-align: center;
  }

  &-nums {
    display: flex;
    justify-content: space-between;
    font-size: $subTitle;
  }

  .slider,
  .slider .noUi-handle {
    box-shadow: none;
  }

  .slider .noUi-handle::before,
  .slider .noUi-handle::after {
    display: none;
  }

  #slider {
    height: 10px;
    width: 215px;
  }

  #slider .noUi-connect {
    background: $green;
  }

  #slider .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px;
    border-radius: $borderRadius;
  }

  #slider .noUi-handle:hover {
    border: 1px solid $green;
  }

  #slider .noUi-horizontal {
    right: -13px;
  }
}