@import '../../global.scss';

.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.img-card {
  max-width: 200px;
}
.main {
  display: flex;
  justify-content: center;
}
.block-filters {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  font-size: 1.3rem;
}
