@import '../../../global.scss';

.block-cards {
  border: 1px solid;
  margin: 10px;
  color: $grey;
  border-radius: $borderRadius;
  padding: 5px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card:nth-child(1) {
  display: flex;
  justify-content: center;
}

.card {
  &__name {
    font-size: $title;
    font-family: $fontFamily;
    text-align: center;
  }
}

.btn {
  background-color: $green;
  padding: 5px 10px;
  color: $white;
  border-radius: $borderRadius;
}